.navbar {
	border-color: teal;
}

.navbar-inverse .navbar-nav>li>a {
    color: teal;
}

.navbar-inverse .navbar-brand {
	color: teal;
}

.dropdown-menu>li>a {
	color: teal;
	background-color: #222;
}

.dropdown-menu {
	background-color: #222;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
	color: white;
	background-color: #222;
}

.head1 {
	width: 100%;
	padding-top: 50px;
}

.prim3 {
	width: 450px;
	border: 1px solid #ddd;
	border-radius: 4px;
}

.description {
	text-align: justify;
}

h1,
h3,
h4 {
	color: #000066;
}

.foot1 {
	text-align: center;
}

#contact {
	background-color: teal;
}

#me {
	border-radius: 50%;
	max-height: 200px;
	max-width: 200px;
}

.me-div {
	background-color: teal;
	border-color: teal;
}

hr {
	border-color: teal;
}

i {
	background-color: black;
	color: white;
	padding: 4px;
	border-radius: 15%;
}

.git-link {
	color: teal;
}