.navbar-inverse .navbar-nav>li>a {
    color: teal;
}

.navbar-inverse .navbar-brand {
	color: teal;
}

.dropdown-menu>li>a {
	color: teal;
	background-color: #222;
}

.dropdown-menu {
	background-color: #222;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
	color: white;
	background-color: #222;
}

.head1 {
	width: 100%;
	padding-top: 50px;
}

.prim3 {
	width: 450px;
}

h4 {
	text-align: justify;
}

.foot1 {
	text-align: center;
}

.navbar {
	border-color: teal;
}